<h1>Добавить товар в базу</h1>
<form action="" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="Название" required>
  <input type="number" name="category" placeholder="Категория" required>
  <input type="text" name="description" placeholder="Описание" required>
  <input type="file" name="fileToUpload" id="fileToUpload" required>
  <input type="text" name="price" placeholder="Цена" required>
  <input type="text" name="sale" placeholder="Скидка в %" required>
  <input type="text" name="units" placeholder="Единица измерения" required>
  <input type="text" name="q" placeholder="Количество товара на складе" required>
  <input type="submit" name="addtodb" value="Добавить в базу" required>
</form>
