<div class="sort_submit">
  <h1>Велкам, {{ admin }}</h1>
  <form action="" method="post">
    <button type="submit" name="logout" value="Выход">X</button>
  </form>
</div>
<div class="content">


<form action="" method="post">
  <input type="password" name="password_old" placeholder="Старый пароль" required>
  <input type="password" name="password_new_1" placeholder="Новый пароль" required>
  <input type="password" name="password_new_2" placeholder="Новый пароль повторно" required>
  <input type="submit" name="changepass" value="Сменить пароль">
</form>

<form action="" method="post">
  <input type="submit" name="ed_mode" value="Режим редактирования:"> 
  {% if ed==1 %}
    <span style="background: green; color: white">включено</span>
  {% else %}
    <span style="background: red; color: white">выключено</span>
  {% endif %}
</form>
<button><a href="{{ url('add') }}">Добавить новый товар в базу</a></button>
<h1>Список заказов</h1>
<table border="1" class="order">
  <tr><td>Номер</td><td>Статус</td><td>Дата</td><td>ФИО</td><td>Телефон</td></tr>
  {% for i in list %}
    <tr><td><a href="{{ url('user') }}/{{ i.id }}">заказ №{{ i.id }}</a></td><td>{{ i.o_status }}</td><td>{{ i.o_date }}</td><td>{{ i.c_name }}</td><td>{{ i.c_phone }}</td></tr>
  {% endfor %}
</table>
</div>