<div class="sort_submit">
  <h1>Корзина</h1>
</div>


<div class="content">
{% if list %} {% set sum=0 %}
  <form action="" method="post">
    {% for i in list %}
    <a href="{{ url('products') }}{{ i.name_en }}/{{ i.id }}">{{ i.name }}</a> -
    <input type="number" name="{{ i.id }}" size="1" min="1" max="{{ i.q }}" value="{{ rows_q[i.id] }}">
    <button type="submit" name="q_ed" value=">">></button>
    <button type="submit" name="del" value="{{ i.id }}">X</button>

    {{ i.units }}  = {{ i.price*(1-i.sale/100)*rows_q[i.id] }} $ {% set sum=sum+i.price*(1-i.sale/100)*rows_q[i.id] %}
    <br />
    {% endfor %}
    <p>Итого: {{ sum }} $</p>
    <input type="submit" name="order" value="Оформить заказ">
  </form>
  <form action="" method="post">
    <input type="submit" name="clearcart" value="Очистить корзину">
  </form>
{% else %}
  <p class="message">Корзина пуста</p>
{% endif %}


</div>