<h1>Каталог товаров</h1>

  {% for i in list %}
    <div class="table_left"
    {% if i.sale %}
      style="outline: 4px solid red; outline-offset: -4px"
    {% endif %}>
      <div>
              <img src="{{ url('homepage') }}img/{{ i.img }}.png" class="list_img"/>
      </div>
      <div>

        <form action="" method="post">
          {% if i.sale %}
            <b class="sale">Скидка {{ i.sale }}%!!!  </b>
            <strike>{{ i.price }}</strike>
          {% endif %}
          {{ i.price*(1-i.sale/100) }} $
          <input type="hidden" name="id" value="{{ i.id }}">
          <button type="submit" name="tocart"></button>
          <!-- <input type="submit" name="tocart" value="В корзину"> -->
        </form>
      </div>
    </div>
    <div class="table_right">
      <a href="{{ url('products') }}{{ i.name_en }}">{{ i.name_ru }}</a> /
      <a href="{{ url('products') }}{{ i.name_en }}/{{ i.id }}">{{ i.name }}</a>
      <div>{{ i.description }}</div>
    </div>
    <div class="clear"></div>
  {% endfor %}
