<!DOCTYPE html>
<html>
  <head>
    <title>Epixx Shop - {{ title }}</title>
    <link rel="stylesheet" href="{{ url('homepage') }}style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ url('homepage') }}">Главная</a></li>
        <li><a href="{{ url('products') }}">Каталог</a></li>
          <ul>
            {% for i in list %}
            <li><a href="{{ url('products') }}{{ i.name_en }}">{{ i.name_ru }}</a></li>
            {% endfor %}
          </ul>
        <li><a href="{{ url('cart') }}">Корзина</a></li>
      </ul>
    </nav>
    <div class="center">
      {% if flash %}
        <div style="background: {{ f_color }}">{{ flash }}</div>
      {% endif %}