<h2>Топ продаж</h2>
<ul class="thumbs">
  {% for i in top_list %}
      <li><a href="{{ url('products') }}{{ i.name_en }}/{{ i.id }}"><img src="{{ url('homepage') }}img/{{ i.img }}.png"/></a>
        <span>
          {% if i.sale %}
            <b>-{{ i.sale }}% </b>
          {% endif %}
          {{ i.price*(1-i.sale/100) }} $
        </span></li>
  {% endfor %}
</ul>
<h2>Распродажа!</h2>
<ul class="thumbs">
  {% for i in sale_list %}
    <li>
      <a href="{{ url('products') }}{{ i.name_en }}/{{ i.id }}"><img src="{{ url('homepage') }}img/{{ i.img }}.png"/></a>
        <span>
          {% if i.sale %}
            <b>-{{ i.sale }}% </b>
          {% endif %}
          {{ i.price*(1-i.sale/100) }} $
        </span>
    </li>
  {% endfor %}
</ul>
